.addCredentials {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(230, 230, 250, 0.5);
    align-items: flex-start;
    justify-content: start;
}

.addCredentials_body {
    height: 100%;
    min-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

@media screen and (max-width:780px) {
    .addCredentials_body {
        grid-template-columns: 1fr;
    }
}